@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body {
  font-family: 'Lora', serif;
}

.has-dropdown ul {
  transition: all 200ms ease-in;
  width: 230px;
  display: none;
}
.has-dropdown:hover > ul {
  display: block;
}

@media(min-width:768px) {
  .has-dropdown ul {
    left: 50%;
    transform: translate(-50%, -1px);
    opacity: 0;
    display: block;
  }
  .has-dropdown:hover > ul {
    opacity: 1;
    transform: translate(-50%, 1px);
  }
}

.menu {
  top: 113px;
}

@media(max-width: 767px) {
  .menu {
    opacity: 0;
    pointer-events: none;;
    transition: all 200ms ease-in;
  }
  .menu.active {
    opacity: 1;
    pointer-events: auto;
  }
}