{{ define "main" }}
<section class="bg-black pt-24 md:pt-40 pb-32 md:pb-56 font-serif overflow-x-hidden">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight mb-5">Ayudamos a tu startup a crear y escalar productos digitales</h1>
      <h2 class="text-xl md:text-2xl text-wkGray leading-relaxed mb-12">Aplicamos Sprint y UX Design para crear prototipos y lanzarlos al mercado. Implementamos estrategias de Growth Marketing para escalarlos.</h2>
      <article class="text-center md:text-left md:flex items-center">
        <p class="mb-5 md:mb-0 md:mr-8 text-base text-white font-bold">¿Cómo te definirías?</p>
        <div class="md:flex justify-center md:justify-start">
          <a href="#noTengoProducto" class="block w-full mb-3 md:mb-0 md:w-auto md:inline-block font-sans mr-4 bg-primary text-white text-sm font-bold text-center rounded-full shadow-md py-2 px-8">No tengo un producto</a>
          <a href="#tengoProducto" class="block w-full md:w-auto md:inline-block font-sans bg-wkGray text-primary text-sm font-bold text-center rounded-full shadow-md py-2 px-8">Tengo un producto</a>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="bg-white py-32 overflow-x-hidden" id="noTengoProducto">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-24">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight col-span-4 mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950">¿No tienes un producto?</h3>
      <div class="col-span-8" data-aos="fade-left" data-aos-duration="950">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Formamos pequeños equipos de trabajo junto a emprendedores y dueños de negocio, y de forma colaborativa trabajamos sobre la creación de un MVP.</p>
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">A veces se trata de una landing page de conversión, a veces de un prototipo de alta fidelidad, y otras veces del diseño UX y desarrollo completo de una pequeña PWA.</p>
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Cualquiera sea el caso, el objetivo es siempre el mismo: lanzar al mercado una primera versión mínima que pueda ser validada en una audiencia específica de usuarios o clientes.</p>
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Muchas startups tienen una idea de negocio validada y no solo necesitan un buen time to market, sino también una experiencia de uso que retenga clientes y permita proyectar a largo plazo para iterar tomando mejores decisiones.</p>
      </div>
    </div>
    <div class="mb-24">
      <h4 class="text-xl md:text-2xl font-bold text-black leading-tight mb-6" data-aos="fade-up" data-aos-duration="950">Conversaciones que iniciaron así...</h4>
      <div class="md:grid md:grid-cols-12 md:gap-8">
        <article class="col-span-4 bg-wkWhite shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Necesitamos el diseño de las interfaces para una PWA en 15 días.</p>
        </article>
        <article class="col-span-4 bg-wkWhite shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Necesitamos lanzar nuestra fintech con una web app simple de usar.</p>
        </article>
        <article class="col-span-4 bg-wkWhite shadow-md px-10 py-16 flex items-center justify-center" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Necesitamos crear una PWA por completo.</p>
        </article>
      </div>
    </div>
    <div class="mb-24">
      <h4 class="text-xl md:text-2xl font-bold text-black leading-tight mb-6 md:text-right" data-aos="fade-up" data-aos-duration="950">Se convirtieron en productos como estos…</h4>
      <div class="md:grid md:grid-cols-12 md:gap-8">
        <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <h5 class="text-xl font-bold text-black leading-tight mb-3">OpenHealth</h5>
          <p class="text-base text-secondary leading-relaxed mb-6">Una app de seguimiento que surgió durante el contexto COVID19 con la necesidad de ayudar a los ciudadanos a transitar la pandemia.</p>
          <a href="/casos/openhealth" class="flex items-center">
            <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
            <span class="text-base font-sans font-bold text-black">Ver caso</span>
          </a>
        </article>
        <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <h5 class="text-xl font-bold text-black leading-tight mb-3">FucerNet</h5>
          <p class="text-base text-secondary leading-relaxed mb-6">Una plataforma enfocada en distribuir documentación normativa dentro del ámbito jurídico y registral.</p>
          <a href="/casos/fucernet" class="flex items-center">
            <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
            <span class="text-base font-sans font-bold text-black">Ver caso</span>
          </a>
        </article>
        {{/*  <article class="col-span-4 px-6 py-10 border border-secondary" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
          <h5 class="text-xl font-bold text-black leading-tight mb-3">OutTripper</h5>
          <p class="text-base text-secondary leading-relaxed mb-6">Un producto digital que conecta a viajeros del mundo con guías turísticos, generando una mejor experiencia para ambas partes.</p>
          <a href="" class="flex items-center">
            <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
            <span class="text-base font-sans font-bold text-black">Ver caso</span>
          </a>
        </article>  */}}
        <article class="col-span-4 px-6 py-10 border border-secondary" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
          <h5 class="text-xl font-bold text-black leading-tight mb-3">CambioAR</h5>
          <p class="text-base text-secondary leading-relaxed mb-6">Una web app para comprar y vender dólares de forma 100% digital</p>
          <a href="/casos/cambioar" class="flex items-center">
            <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
            <span class="text-base font-sans font-bold text-black">Ver caso</span>
          </a>
        </article>
      </div>
    </div>
    <div class="text-center" data-aos="fade-up" data-aos-duration="950">
      <a href="/uxsprints" class="block w-full md:w-auto md:inline-block font-sans bg-wkGray text-primary text-sm font-bold text-center rounded-full shadow-md py-2 px-8">Ver metodología</a>
    </div>
  </div>
</section>
<section class="overflow-x-hidden bg-wkWhite py-32" id="tengoProducto">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-24">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight col-span-4 mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950">¿Ya tienes un producto?</h3>
      <div class="col-span-8" data-aos="fade-left" data-aos-duration="950">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Creamos hipótesis ágiles de crecimiento y combinamos la mayor cantidad de herramientas posibles según los objetivos de tu negocio.</p>
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Muchas startups lanzan su propuesta comercial y buscan inversión por donde sea para inyectar esos recursos en marketing. ¿Qué es lo primero que hacen? Quemar miles y miles de dólares en pauta.</p>
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Meses después, no saben quien es su buyer persona, cuál es su diferencial más atractivo y cual es su canal más rentable.</p>
      </div>
    </div>
    <div class="mb-24">
      <h4 class="text-xl md:text-2xl font-bold text-black leading-tight mb-6" data-aos="fade-up" data-aos-duration="950">Conversaciones que iniciaron así...</h4>
      <div class="md:grid md:grid-cols-12 md:gap-8">
        <article class="col-span-4 bg-white shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Necesito llegar a los CTO de empresas de más de 200 empleados que compren desarrollos de CRM a medida.</p>
        </article>
        <article class="col-span-4 bg-white shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Necesito generar leads para mi programa capacitación comercial de agentes inmobiliarios.</p>
        </article>
        <article class="col-span-4 bg-white shadow-md px-10 py-16 flex items-center justify-center" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Necesito vender mochilas que duplican el precio de mis competidores más directos.</p>
        </article>
      </div>
    </div>
    <div class="mb-24">
      <h4 class="text-xl md:text-2xl font-bold text-black leading-tight mb-6 md:text-right" data-aos="fade-up" data-aos-duration="950">Dieron resultados como estos…</h4>
      <div class="md:grid md:grid-cols-12 md:gap-8">
        <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <h5 class="text-xl font-bold text-black leading-tight mb-3">CulturaIT</h5>
          <p class="text-base text-secondary leading-relaxed mb-6">+500 leads calificados para contactar vía mail o Linkedin con campañas de nutrición de esos leads mediantes contenidos relevantes para la industria.</p>
          <a href="/casos/culturait" class="flex items-center">
            <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
            <span class="text-base font-sans font-bold text-black">Ver caso</span>
          </a>
        </article>
        <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <h5 class="text-xl font-bold text-black leading-tight mb-3">Remax Blue</h5>
          <p class="text-base text-secondary leading-relaxed mb-6">+10 leads calificados semanales que entraban en un embudo automatizado de nutrición para ser invitados a charlas informativas online y luego entrevistados uno a uno.</p>
          <a href="/casos/remaxblue" class="flex items-center">
            <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
            <span class="text-base font-sans font-bold text-black">Ver caso</span>
          </a>
        </article>
        <article class="col-span-4 px-6 py-10 border border-secondary" data-aos="fade-in" data-aos-duration="950">
          <h5 class="text-xl font-bold text-black leading-tight mb-3">Tincho&Lola</h5>
          <p class="text-base text-secondary leading-relaxed mb-6">Generación del 50% de las ventas de forma orgánica a través de campañas de email marketing y acciones específicas de facebook ads.</p>
          <a href="/casos/tinchoandlola" class="flex items-center">
            <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
            <span class="text-base font-sans font-bold text-black">Ver caso</span>
          </a>
        </article>
      </div>
    </div>
    <div class="text-center" data-aos="fade-up" data-aos-duration="950">
      <a href="/growthmarketing" class="block w-full md:w-auto md:inline-block font-sans bg-primary text-white text-sm font-bold text-center rounded-full shadow-md py-2 px-8">Ver metodología</a>
    </div>
  </div>
</section>
<section class="overflow-x-hidden bg-primaryLight py-32">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight col-span-4 mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950">Lab</h3>
      <div class="col-span-8" data-aos="fade-left" data-aos-duration="950">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Además de ayudar a startups como la tuya a crear y escalar productos, también experimentamos con nuestras propias ideas:</p>
      </div>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8">
      <article class="col-span-6 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="zoom-in-right" data-aos-duration="950">
        <div class="flex justify-between items-center mb-6">
          <h5 class="text-xl font-bold text-black leading-tight">Conty</h5>
          <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block">
            <span class="text-center block text-sm font-bold text-wkGray">Stage: MVP</span>
          </div>
        </div>
        <p class="text-base text-secondary leading-relaxed mb-6">Una web app que ayuda a los monotributistas argentinos a controlar los límites de su facturación.</p>
        <a class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Próximamente</span>
        </a>
      </article>
      <article class="col-span-6 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="zoom-in-left" data-aos-duration="950">
        <div class="flex justify-between items-center mb-6">
          <h5 class="text-xl font-bold text-black leading-tight">MentorFit</h5>
          <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block">
            <span class="text-center block text-sm font-bold text-wkGray">Stage: MVP</span>
          </div>
        </div>
        <p class="text-base text-secondary leading-relaxed mb-6">Un sitio que matchea a startups con potenciales Angels interesados y los alinea según intereses y oportunidades.</p>
        <a class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Próximamente</span>
        </a>
      </article>
      <article class="col-span-6 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="zoom-in-up" data-aos-duration="950">
        <div class="flex justify-between items-center mb-6">
          <h5 class="text-xl font-bold text-black leading-tight">Worky</h5>
          <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block">
            <span class="text-center block text-sm font-bold text-wkGray">Stage: Wireframing</span>
          </div>
        </div>
        <p class="text-base text-secondary leading-relaxed mb-6">Una herramienta para ayudar a los trabajadores remotos a organizar su día y alcanzar una mayor productividad.</p>
        <a class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Próximamente</span>
        </a>
      </article>
      <article class="col-span-6 px-6 py-10 border border-secondary" data-aos="zoom-in-up" data-aos-duration="950">
        <div class="flex justify-between items-center mb-6">
          <h5 class="text-xl font-bold text-black leading-tight">Product&Mates</h5>
          <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block">
            <span class="text-center block text-sm font-bold text-wkGray">Stage: Quién sabe</span>
          </div>
        </div>
        <p class="text-base text-secondary leading-relaxed mb-6">Mmm, no sabemos exactamente qué es esto. Simplemente estamos explorando alternativas.</p>
        <a class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Próximamente</span>
        </a>
      </article>
    </div>
  </div>
</section>
<section class="bg-white py-32 overflow-x-hidden">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight col-span-4 mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950">Blog</h3>
      <div class="col-span-8" data-aos="fade-left" data-aos-duration="950">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Para quienes emprenden e invierten, un lugar en donde compartimos lo que aprendemos.</p>
      </div>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16">
      {{ range first 3 .Pages.ByPublishDate.Reverse }}
      <article class="col-span-4 px-6 py-10 border border-secondary mb-6 md:mb-0" data-aos="zoom-in-left" data-aos-duration="950">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">{{ .Title }}</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">{{ partial "date.html" . }}</p>
        <a href="{{ .RelPermalink }}" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Leer</span>
        </a>
      </article>
      {{ end }}
      {{/*  <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="zoom-in-left" data-aos-duration="950">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Artículo 1</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">12/05/2020</p>
        <a href="" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Leer</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="zoom-in-left" data-aos-duration="950" data-aos-delay="100">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Artículo 1</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">12/05/2020</p>
        <a href="" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Leer</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="zoom-in-left" data-aos-duration="950" data-aos-delay="200">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Artículo 1</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">12/05/2020</p>
        <a href="" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Leer</span>
        </a>
      </article>  */}}
    </div>
    <div class="text-center" data-aos="fade-up" data-aos-duration="950">
      <a href="/blog" class="block w-full md:w-auto md:inline-block font-sans bg-wkGray text-primary text-sm font-bold text-center rounded-full shadow-md py-2 px-8">Ver todos los artículos</a>
    </div>
  </div>
</section>
{{ partial "contact-cta.html" . }}
{{ end }}