<header class="py-10 bg-black font-sans text-white text-base font-normal">
  <div class="container mx-auto px-4">
    <nav class="flex justify-between items-center">
      <a href="/">
        <img src="img/whoknows-agency-ux-growth-marketing-logo-negativo.svg" alt="WhoKnows Agency logo">
      </a>
      <ul class="flex items-center">
        <li class="px-4 has-dropdown relative">
          <a href="">Servicios</a>
          <ul class="absolute bg-white shadow-md rounded-md py-6 px-5 text-secondary top-0 mt-10">
            <li>
              <a href="">UX & Product Design</a>
              <a href="">Growth Marketing</a>
            </li>
          </ul>
        </li>
        <li class="px-4">
          <a href="">Casos</a>
        </li>
        <li class="px-4">
          <a href="">Blog</a>
        </li>
        <li class="px-4">
          <a href="">Lab</a>
        </li>
        <li class="pl-4">
          <a href="">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>